.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid $bg-light;
  background-color: rgba(#fff, 0.975);
  overflow: hidden;
  z-index: 2;
}

.logo {
  @include headingFont;
  display: block;
  width: 75%;
  float: left;
  font-size: 1.25rem;
  line-height: 1;
  color: #000;
  padding: 1rem $padding-xxs;

  &:not(.no-hover):hover, &:not(.no-hover):focus {
    color: $highlight;
  }
}

main {
  background-color: #fff;
  overflow: hidden;
  z-index: 1;
}

section {
  @include clearfix;
  padding: 2rem $padding-xxs;

  &#home {
    padding: 0;
  }

  p:last-child {
    padding-bottom: 0;
  }
}

.page-footer {
  background-color: #333;
  font-size: 0.875rem;
  padding: 1rem $padding-xxs;
  overflow: hidden;

  p {
    line-height: 1.5rem;
    color: #cfcecb;
    padding: 0.5rem 0;

    &.copyright {
      width: 80%;
      float: left;
    }

    &.github {
      width: 20%;
      float: right;
      text-align: right;

      span {
        display: none;
        vertical-align: top;
      }
    }
  }

  a {
    display: inline-block;
    line-height: 1.5rem;
    color: #cfcecb;
    
    svg {
      width: 1.5rem;
      height: 1.5rem;
      fill: currentColor;
      vertical-align: top;
      margin-right: 0.5rem;
    }

    &:hover, &:focus {
      color: $highlight;

      svg {
        fill: $highlight;
      }
    }
  }
}


// ============================================================
// Media queries
// ============================================================

@include mq(xs) {
  .logo,
  .page-footer {
    padding: 1rem $padding-xs;
  }

  section {
    padding: 2rem $padding-xs;
  }
}

@include mq(sm) {
  .logo,
  .page-footer {
    padding: 1.25rem $padding-sm;
  }

  .page-footer {
    p.copyright {
      width: 50%;
    }

    p.github {
      width: 50%;

      span {
        display: inline-block;
      }
    }
  }

  section {
    padding: 2rem $padding-sm;
  }
}

@include mq(md) {
  .page-header,
  .page-footer {
    padding: 1.5rem $padding-md;
  }

  .logo {
    width: 25%;
    line-height: 2.5rem;
    padding: 0;
  }

  section {
    padding: 2rem $padding-md;
  }
}

@include mq(lg) {
  .page-header {
    left: calc( (100vw - #{$page-width}) / 2 );
    right: calc( (100vw - #{$page-width}) / 2 );
    padding: 1.5rem $padding-lg;
  }

  main,
  .page-footer {
    width: 100%;
    max-width: $page-width;
    margin: 0 auto;
  }
  
  .page-footer {
    padding: 1.5rem $padding-lg;
  }

  section {
    padding: $padding-lg;
  }
}