/*============================================================*
  Footer styles
 *============================================================*/

.site-footer {
  border-top: 3px solid $detailing-line-color;
  background-color: #01526a;
  color: #fff;
  
  a {
    color: #d9ecf3;

    &:hover {
      color: #fff;
    }

    &:focus {
      outline-color: #fff;
    }
  }
}

.site-footer__content {
  position: relative;
  border-left: 1px solid $detailing-line-color;
  padding: 50px 0 0;
  
  // Crossbars
  &:before, &:after {
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    left: -11px;
    background-color: $detailing-line-color;
  }
  
  // Short crossbar
  &:before {
    width: 11px;
    top: 0;
  }
  
  // Long crossbar
  &:after {
    width: 31px;
    top: 20px;
  }
}

// Copyright and legal links
.site-footer__legal {
  border: solid $detailing-line-color;
  border-width: 1px 0;
  font-size: 0.875rem;
  padding: 16px 10px;

  li {
    padding: 5px 0;
  }
}


/*============================================================*
  Media queries
 *============================================================*/

@include mq(lg) {
  .site-footer {
    padding-top: 30px;
    padding-bottom: 40px; 
  }

  .site-footer__legal li {
    display: inline-block;
    line-height: 1.285;
    padding: 0 4px 0 0;

    &:not(:first-child) {
      border-left: 1px solid #fff;
      padding-left: 8px;
    }
  }
}