/*============================================================*
  Header styles
 *============================================================*/

.site-header {
  border-bottom: 3px solid $detailing-line-color;
  background-color: #007fab;
  color: #fff;
  padding: 0 $page-side-padding;
  overflow: hidden;

  a {
    color: #d9ecf3;

    &:hover {
      color: #fff;
    }

    &:focus {
      outline-color: #fff;
    }
  }
}

.logo {
  display: block;
  width: 202px;
  margin: 10px auto;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}


/*============================================================*
  Media queries
 *============================================================*/
 
@include mq(sm) {
  .site-header {
    padding: 0 $page-side-padding-sm;
  }

  .logo {
    width: 245px;
    margin: 13px 0;
  }
}