/*==================================================*
  Global layout styles
 *==================================================*/

.site-header,
.primary-nav,
.breadcrumbs,
.content-wrapper,
.search-boxes {
  width: 100%;
  max-width: $page-width;
  margin: 0 auto;
}

.site-footer {
  width: 100%;
}

.content-wrapper {
  background-color: $page-bg-color;
  padding: 10px 0;
  margin-bottom: 30px;
}

.content-inner {
  padding: 0 $page-side-padding-sm;
}


/*==================================================*
  Place sidebar above main content on small screens
 *==================================================*/

.content-wrapper {
  display: table;
}

#content {
  display: table-footer-group;
}

.sidebar {
  display: table-header-group;
}


/*==================================================*
  Media queries
 *==================================================*/

@include breakpoint(sm) {
  .content-wrapper {
    @include clearfix;
    display: block;
    padding: 25px 20px 10px;
  }

  #content {
    display: block;
    width: 65%;
    float: left;
  }

  .content-inner {
    padding: 0;
  }

  .sidebar {
    display: block;
    width: 35%;
    float: right;
    padding-left: 30px;
  }
}

@include breakpoint(md) {
  #content {
    width: 70%;
  }

  .sidebar {
    width: 30%;
  }
}

@include breakpoint(lg) {
  #content {
    width: 75%;
  }

  .sidebar {
    width: 25%;
  }
}