/*============================================================*
  Layout structure styles
 *============================================================*/

// Centre the top-level page elements and set a max-width
.site-header,
.primary-nav,
.breadcrumb,
.content,
.search {
  width: 100%;
  max-width: $page-width;
  margin: 0 auto;
}

// Container for "content__main" and "content__sidebar"
.content {
  background-color: $page-bg-color;
  padding: 10px 0;
  margin-bottom: 30px;
}

/**
 * Move sidebar above main content on small screens
 * ------------------------------------------------
 * Main content code is placed before sidebar code in the html for
 * SEO purposes. But on small screens we want the sidebar to be above
 * the main content so we switch the order using css table groups.
 */
.content {
  display: table;
}

.content__main {
  display: table-footer-group;
}

.content__sidebar {
  display: table-header-group;
}

/**
 * Add padding for the main content region
 * ---------------------------------------
 * Padding cannot be added to "content__main" itself because the
 * display order is altered on small screens by setting its "display"
 * property to "table-footer-group" which doesn't support padding.
 */
.content__main--padding {
  padding: 0 $page-side-padding-sm;
}

.site-footer {
  width: 100%;
  padding: 10px $page-side-padding 30px;

  /**
   * Allow footer background to be full screen width but keep
   * content centred and same width as the rest of the page. 
   */
  @media (min-width: $page-width) {
    padding-left: calc((100vw - #{$page-width}) / 2 + #{$page-side-padding});
    padding-right: calc((100vw - #{$page-width}) / 2 + #{$page-side-padding});
  }
}


/*============================================================*
  Media queries
 *============================================================*/

@include mq(sm) {
  .content {
    display: block;
    padding: 25px 20px 10px;
    overflow: hidden;
  }

  .content__main {
    display: block;
    width: 65%;
    float: left;
  }

  .content__main--padding {
    padding: 0;
  }

  .content__sidebar {
    display: block;
    width: 35%;
    float: right;
    padding-left: 30px;
  }
}

@include mq(md) {
  .content__main {
    width: 70%;
  }

  .content__sidebar {
    width: 30%;
  }
}

@include mq(lg) {
  .content__main {
    width: 75%;
  }

  .content__sidebar {
    width: 25%;
    padding-left: 35px;
  }
}