/*============================================================*
  Responsive media queries
 *============================================================*/

@mixin mq($size) {
  @if map-has-key($breakpoints, $size) {
    @media #{inspect(map-get($breakpoints, $size))} {
      @content;
    }
  }
  @else {
    @warn 'There is no breakpoint named "#{$size}".';
  }
}


/*============================================================*
  Clearfix
 *============================================================*/

@mixin clearfix() {
  &:before, &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}


/*============================================================*
  Form field placeholders
 *============================================================*/

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}