// ============================================================
// Convert PX to REM  |  Usage - font-size: rem(14px)
// ============================================================

@function convert-to-rem($px-value) {
  $value: ($px-value / ($px-value * 0 + 1)) / 16 * 1rem;
  @if ($value == 0rem) {
    $value: 0;
  }
  @return $value;
}

@function rem($px-values) {
  $max: length($px-values);
  @if $max == 1 {
    @return convert-to-rem(nth($px-values, 1));
  }

  $remValues: ();
  @for $i from 1 through $max {
    $remValues: append($remValues, convert-to-rem(nth($px-values, $i)));
  }
  @return $remValues;
}