// ==================================================
// Clearfix
// ==================================================

@mixin clearfix() {
  &:before, &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}


// ==================================================
// Headings
// ==================================================

@mixin headingFont() {
  font-family: 'Montserrat', sans-serif;
  color: $text-dark;
}


// ==================================================
// Responsive breakpoints
// ==================================================

@mixin breakpoint($point) {
  @if $point == xs {
    @media (min-width: 22.5rem) { @content; } // 360px
  }

  @if $point == sm {
    @media (min-width: 40rem) { @content; } // 640px
  }

  @if $point == md {
    @media (min-width: 48rem) { @content; } // 768px
  }

  @if $point == lg {
    @media (min-width: 64rem) { @content; } // 1024px
  }
}