// ==================================================
// Responsive breakpoints
// ==================================================

$breakpoints: (
  'xs': (min-width: 22.5rem), // 360px
  'sm': (min-width: 40rem),   // 640px
  'md': (min-width: 48rem),   // 768px
  'lg': (min-width: 64rem)    // 1024px
);

@mixin mq($size) {
  @if map-has-key($breakpoints, $size) {
    @media #{inspect(map-get($breakpoints, $size))} {
      @content;
    }
  }
  @else {
    @warn 'There is no breakpoint named "#{$size}".';
  }
}


// ==================================================
// Headings
// ==================================================

@mixin headingFont() {
  font-family: 'Montserrat', sans-serif;
  color: $text-dark;
}


// ==================================================
// Clearfix
// ==================================================

@mixin clearfix() {
  &:before, &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}