// ==================================================
// Global variables
// ==================================================

$text-dark: #222;
$text-mid: #555;
$text-light: #999;

// Non-white section background
$bg-light: #f2f2f2;

// Accent colour
$highlight: #fc3;

// Left & right page padding
$padding-xxs: 1rem;   // < 360px
$padding-xs: 1.25rem; // >= 360px
$padding-sm: 1.5rem;  // >= 640px
$padding-md: 1.75rem; // >= 768px
$padding-lg: 3rem;    // >= 1024px