// ==================================================
// Headings
// ==================================================

h1, h2, h3 {
  @include headingFont;
  font-weight: bold;
  margin: 0 0 0.5em;
}

h1 {
  position: relative;
  font-size: 2.25rem;
  line-height: 1.4;
  letter-spacing: -2px;
  padding-bottom: 0.625em;
  margin-bottom: 0.625em;
  
  // Underline
  &:after {
    max-width: 3em;
    height: 5px;
  }
}

h2 {
  position: relative;
  font-size: 2rem;
  line-height: 1.25;
  text-transform: capitalize;
  padding-bottom: 0.625em;
  margin-bottom: 0.75em;
}

// Underline
h1:after, h2:after {
  content: '';
  width: 100%;
  max-width: 2em;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: $highlight;
}

// Text above h2 in speech bubble
.bubble {
  display: inline-block;
  position: relative;
  background-color: $highlight;
  font-size: 1rem;
  line-height: 1.375;
  font-weight: bold;
  text-transform: uppercase;
  color: $text-dark;
  padding: 0.5em 0.75em;
  margin-bottom: 1rem;

  &:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    bottom: -10px;
    border-top: 10px solid $highlight;
    border-left: 10px solid transparent;
  }
}

h3 {
  font-size: 1rem;
}


// ==================================================
// Paragraphs
// ==================================================

p {
  padding: 0 0 1em;
  margin: 0;
}


// ==================================================
// Links
// ==================================================

a {
  color: $highlight;
  text-decoration: none;

  &:hover, &:focus {
    color: #000;
  }

  &:focus {
    outline: none;
  }
}


// ==================================================
// Lists
// ==================================================

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


// ==================================================
// Media queries
// ==================================================

@include breakpoint(xs) {
  h1 {
    font-size: 2.5rem;
  }
}

@include breakpoint(sm) {
  h1 {
    font-size: 2.625rem;
  }

  h2 {
    font-size: 2.125rem;
  }

  .bubble {
    font-size: 1.125rem;
    margin-bottom: 1.125rem;
  }
}

@include breakpoint(md) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.25rem;
  }
}

@include breakpoint(lg) {
  h1 {
    font-size: 4rem;
    padding-bottom: 0.5em;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.125rem;
  }

  .bubble {
    font-size: 1.25rem;
  }
}