/*==================================================*
  Headings
 *==================================================*/

h1, h2, h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 0 0 0.75em;
}

h1 {
  font-size: 1.625rem;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.125rem;
}

h3 {
  font-size: 1rem;
}


/*==================================================*
  Paragraphs
 *==================================================*/

p {
  padding: 0 0 1em;
  margin: 0;

  &.intro {
    font-size: 1rem;
    line-height: 1.375;
  }
}


/*==================================================*
  Links
 *==================================================*/

a {
  color: #0084a9;
  text-decoration: none;

  &:hover {
    color: #00627d;
  }
}


/*==================================================*
  Lists
 *==================================================*/

ul, ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}


/*==================================================*
  Media queries
 *==================================================*/

@include breakpoint(sm) {
  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.25rem;
  }
}

@include breakpoint(md) {
  h1 {
    font-size: 2.125rem;
  }
}