/*============================================================*
  General
 *============================================================*/

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: #616060;
  -webkit-font-smoothing: antialiased;
}

.content {
  font-size: 0.875rem;
}


/*============================================================*
  Headings
 *============================================================*/

h1, h2, h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 0 0 0.75em;
}

h1 {
  font-size: 1.625rem;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.125rem;
}

h3 {
  font-size: 1rem;
}


/*============================================================*
  Paragraphs
 *============================================================*/

p {
  padding: 0 0 1em;
  margin: 0;

  &.intro {
    font-size: 1rem;
    line-height: (23 / 16);
  }
}


/*============================================================*
  Links
 *============================================================*/

a {
  color: #0084a9;
  text-decoration: none;

  &:hover {
    color: #00627d;
  }
}


/*============================================================*
  Media queries
 *============================================================*/

@include mq(sm) {
  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.25rem;
  }
}

@include mq(md) {
  h1 {
    font-size: 2.125rem;
  }
}