/*============================================================*
  Breadcrumb styles
 *============================================================*/

.breadcrumb {
  border-bottom: 1px solid $detailing-line-color;
  background-color: $page-bg-color;
  line-height: 1.5;
  padding: 12px $page-side-padding;
  
  ol {
    display: none;
  }
}

.back-link .icon {
  display: inline-block;
  height: 15px;
  vertical-align: middle;
  margin-right: 0.75em;
}


/*============================================================*
  Media queries
 *============================================================*/

@include mq(sm) {
  .breadcrumb {
    font-size: 0.75rem;
    padding: 14px $page-side-padding-sm 13px;

    ol {
      display: block;
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    li {
      display: inline-block;

      &:not(:last-child):after {
        content: '/';
        display: inline-block;
        margin: 0 4px 0 8px;
      }
    }
  }

  .back-link {
    display: none;
  }
}

@include mq(lg) {
  .breadcrumb {
    padding-top: 15px;
    padding-bottom: 14px;
  }
}